@media only screen and (max-width: 830px) {
  .main-section {
    padding: 20px 20px 100px 20px;
  }
}

@media only screen and (min-width: 830px) {
  .main-section {
    padding: 50px 20px 20px 120px;
  }
}

.main-section h2,
h3,
h4,
h5 {
  color: #198754;
}

.form-control:focus {
  border-color: #94ba61;
  box-shadow: 0 0 0 0.25rem rgb(148 186 97 / 25%);
}

.form-check-input:checked {
  background-color: #94ba61;
  border-color: #94ba61;
}

.form-check-input:focus {
  border-color: #94ba61;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(148 186 97 / 25%);
}

.form-select:focus {
  border-color: #94ba61;
  box-shadow: 0 0 0 0.25rem rgb(148 186 97 / 25%);
}
